.main-panel {
font-family: HEAVYDATA Nerd Font;
border-top: 3px solid #08D9D6;
border-right: 3px solid #08D9D6;
border-left: 3px solid #FF2E63;
border-bottom: 3px solid #FF2E63;
border-radius: 9px;
color: #08D9D6 ;
padding: 6px ;
}
