.temp {
font-family: HEAVYDATA Nerd Font;
border-top: 3px solid #FF2E63;
border-right: 3px solid #FF2E63;
border-left: 3px solid #08D9D6;
border-bottom: 3px solid #08D9D6;
border-radius: 9px;
color: #E84545;
padding: 6px;
}
    
.ram {
font-family: HEAVYDATA Nerd Font;
border-top: 3px solid #08D9D6;
border-right: 3px solid #08D9D6;
border-left: 3px solid #FF2E63;
border-bottom: 3px solid #FF2E63;
border-radius: 9px;
color: #08D9D6 ;
padding: 6px
}
    
.ram-icon {
color: #08D9D6;
}
    
.ram-c {
color: #FF2E63;
}
    
.cpu {
font-family: HEAVYDATA Nerd Font;
border-top: 3px solid #FF2E63;
border-right: 3px solid #FF2E63;
border-left: 3px solid #08D9D6;
border-bottom: 3px solid #08D9D6;
border-radius: 9px;
color: #E84545;
padding: 6px;
}
    
.cpu-icon {
color: #FF2E63;
}
    
.cpu-c {
color: #08D9D6;
}

.systemtray {
font-family: HEAVYDATA Nerd Font;
padding: 3px
}    
